.bg{
    &-basket{        
        @include set-background($bg__basket-img,0,"center","cover","fixed");
    }
    &-contact{
        @include set-background($bg__basket-img,0,"center","cover","scroll");
    }
    &-contact-short{
        @include set-background($bg__contact-short-img,0,"center","cover","scroll");
    }
    &-dark-brw{
        background-color: $color__dark-brw!important;
    }
    &-form{
        @include set-background($bg__basket-img,0,"center","cover","scroll");
    }
    &-home{        
        @include set-background($bg__basket-img,0,"center","cover","scroll");
    }
}
.border{
    &-dark-brw{
        border-color: $color__dark-brw!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
    &-form{
        @include set-background($bg__contact-form-img,0,"center","cover","scroll");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","scroll");
    }
}
.object{
    &-fit{
        object-fit: cover;
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.story{
    &-desc{       
        @include set-background($bg__story-desc-img,0,"center right","cover","scroll");
    }
    &-ext{        
        @include set-background($bg__story-ext-img,0,"center left","cover","scroll");
    }
}
.text{
    &-dark-brw{
        color: $color__dark-brw!important;
    }
}
textarea{
    resize: none;
}

@media all and (max-width:767px){
    .bg{
        &-md-orange-light{
            background-color: $color__orange-light;
        }
    }
    .border{
        &-md-dark-brw{
            border: 1px solid $color__dark-brw;
        }
    }
}